doctype html
html
  head
    title sudoku.
    link(rel="stylesheet" type="text/css" href="styles/main.css")
    script(src="lib/jquery-2.1.1.min.js")
    script(src="scripts/app.min.js")
  body
    .title sudoku.
    .boardContainer
