// Variables
$font: HelveticaNeue-Light, sans-serif
$lightGray: #ccc
$midGray: #999
$darkGray: #555
$correct: rgba(0, 200, 0, 0.5)
$incorrect: rgba(200, 0, 0, 0.5)


// Mixins
=animation($anim)
  -webkit-animation: $anim
  -moz-animation: $anim
  -ms-animation: $anim
  animation: $anim

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(fadein)
  0%
    opacity: 0
  100%
    opacity: 1

=tileDelay($n)
  &:nth-child(#{$n}) .tileText
    +animation(fadein 1000ms ease-in-out #{$n * 100}ms forwards)


// Styles
html
  height: 100%

body
  height: 100%
  background-color: $lightGray
  background-image: radial-gradient(circle, white, $lightGray)

.header
  position: relative
  margin: auto
  +animation(fadein 1500ms ease-in-out)

.title
  display: inline-block
  font-family: $font
  text-align: center
  color: $darkGray

.buttons
  position: absolute
  display: inline-block
  right: 0px
  bottom: 0px

button
  display: block
  border: none
  background: none
  outline: none
  margin-left: auto
  margin-right: 0
  padding: 0
  font-family: $font
  cursor: pointer

.board
  margin: auto
  +animation(fadein 1500ms ease-in-out)
  &>:nth-child(3), &>:nth-child(6)
    border-bottom: 2px solid $darkGray

.row
  @for $i from 1 through 9
    +tileDelay($i)
  &>:nth-child(3), &>:nth-child(6)
    border-right: 2px solid $darkGray

.tile
  display: table-cell
  text-align: center
  vertical-align: middle
  box-sizing: border-box

.tileText
  font-family: $font
  text-align: center
  color: $midGray
  opacity: 0

.tileInput
  border: none
  background: none
  outline: none
  padding: 0
  color: $darkGray
  transition: background 1000ms

.correct
  background: $correct

.incorrect
  background: $incorrect
