$lightGray: #ccc
$darkGray: #555

html
  height: 100%

body
  height: 100%
  background-color: $lightGray
  background-image: radial-gradient(circle, white, $lightGray)

.board
  margin: auto

  -webkit-animation: fadein 1500ms ease-in-out
  -moz-animation: fadein 1500ms ease-in-out
  -ms-animation: fadein 1500ms ease-in-out
  animation: fadein 1500ms ease-in-out

.board>:nth-child(3), .board>:nth-child(6)
  border-bottom: 2px solid $darkGray

@mixin tileDelay($n)
  &:nth-child(#{$n}) .tileText
    -webkit-animation: fadein 1000ms ease-in-out #{$n * 100}ms forwards
    -moz-animation: fadein 1000ms ease-in-out #{$n * 100}ms forwards
    -ms-animation: fadein 1000ms ease-in-out #{$n * 100}ms forwards
    animation: fadein 1000ms ease-in-out #{$n * 100}ms forwards

.row
  @include tileDelay(1)
  @include tileDelay(2)
  @include tileDelay(3)
  @include tileDelay(4)
  @include tileDelay(5)
  @include tileDelay(6)
  @include tileDelay(7)
  @include tileDelay(8)
  @include tileDelay(9)

.row>:nth-child(3), .row>:nth-child(6)
  border-right: 2px solid $darkGray

  
.tile
  display: table-cell
  text-align: center
  vertical-align: middle


.tileText
  font-family: HelveticaNeue-Light, sans-serif
  color: $darkGray
  opacity: 0



=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(fadein)
  0%
    opacity: 0
  100%
    opacity: 1
